@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.white {
    color: #ffffff;
}

.light-brown {
    color: #a59678;
}

.center {
    text-align: center;
}

.oswald-18, .oswald-21, .oswald-24, .oswald-30, .oswald-36, .oswald-48, .oswald-70,
.oswald-90 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.montserrat-16, .montserrat-18, .montserrat-21, 
.montserrat-24 {
    font-family: 'Montserrat', sans-serif;
}

.oswald-18,
.montserrat-18 {
    font-size: 18px;
}

.oswald-21, .montserrat-21 {
    font-size: 21px;
}

.oswald-24 {
    font-size: 24px;
    text-transform: uppercase;
}

.oswald-30 {
    font-size: 30px;
}

.oswald-36 {
    font-size: 36px;
}

.oswald-48 {
    font-size: 48px;
}

.oswald-70 {
    font-size: 70px;
    line-height: 1.2em;
}

.montserrat-16 {
    font-size: 16px;
}

.montserrat-24 {
    font-size: 24px;
}

/* Navigation Styles */
.nav__container {
    background-color: #2e323f;
    color: #ffffff;
    padding: 1em 0;
    text-align: center;
} 

.nav {
    width: 100%;
}
  
.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3rem;
    height: 3rem;
    padding: 0em;
    border-radius: 50%;
    background: #072a2d;
    color: white;
    transition: opacity 250ms ease;
  
    position: absolute;
    left: 0;
}
  
.nav-toggle:focus,
.nav-toggle:hover {
    opacity: 0.75;
}
  
.hamburger {
    width: 50%;
    position: relative;
}
  
.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}
  
.hamburger::before,
.hamburger::after {
    content: "";
    width: 100%;
}
  
.hamburger::before {
    transform: translateY(-6px);
}
  
.hamburger::after {
    transform: translateY(3px);
}

nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;
}
  
.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}
  
.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.nav__list--primary {
    margin-bottom: 2em;
}
  
.nav__item {
    margin-top: .75rem;
}
  
.nav__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
  
.nav__link:hover,
.nav__link:focus {
    opacity: .65;
}
  
.nav__link--button {
    padding: .25em .75em;
    background: #a59678;
    color: #ffffff;
    border-radius: 100px;
}
  
.logo {
    height: 30px;
}
/* Navigation Styles End */

/* Hero Styles */
.hero__container {
    background-color: #3b4050;
    color: #ffffff;
    padding: 1em 0;
} 

.btn {
    border-radius: 100px;
    background-color: #a59678;
    color: #ffffff;
    padding: .5em;
    letter-spacing: .06em;
}

/* Hero Styles End */

/* Mobile First Section Styles */
.mobilefirst__container {
    background-color: #f1f1f1;
    color: #3b4050;
    padding: 1em 0;
    text-align: center;
}

/* Mobile First Styles End */

/* Hard Section Styles */
.hard__container {
    color: #3b4050;
    padding: 3em 0;
}

.col {
    background-color: #3b4050;
    color: #ffffff;
    text-align: center;
    padding: 1em 1em;
    gap: 1em;
    margin: 1em 0;
}

/* Hard Section Styles EnD */

/* Footer Section Styles */
.footer__container {
    background-color: #3b4050;
    padding: 1em 0;
}


.footer__row {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.space {
    justify-content: space-between;
}

.winter {
    width: 100%;
}

/* Media Queries */

@media (min-width: 700px) {
.container {
    width: 90%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.oswald-90 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2em;
}

}

@media (min-width: 1000px) {
.nav-toggle {
    display: none;
}
      
.nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
}
        
.nav__list {
    display: flex;
    margin: 0;
}
        
.nav__item {
    margin: 0 0 0 1.5em;
}
      
.row {
    display: flex;
    justify-content: space-between;
    gap: 3em 3em;
}

.flex-row {
    flex-direction: column;
}

.footer__row {
    flex-direction: row;
}

.winter {
    width: 40%;
}

.oswald-90 {
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 1.2em;
}

}